name: Build iOS IPA
on: [workflow_dispatch]
jobs:
  build:
    runs-on: macos-latest
    steps:
      - uses: actions/checkout@v4
      - uses: subosito/flutter-action@v2
        with:
          channel: 'stable'
      - run: flutter pub get
      - run: flutter build ios --release --no-codesign
      - run: mkdir Payload
      - run: mv build/ios/iphoneos/Runner.app Payload
      - run: zip -r app.ipa Payload
      - uses: actions/upload-artifact@v4
        with:
          name: app-release
          path: app.ipa
